<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
      <div class="col-lg-12 about-description">
        {{ site.description }}
      </div>
      
      <div class="col-lg-12 text-center" >
        <a target="_blank" href="{{ site.curriculum-vitae-link }}" class="btn btn-lg btn-outline-content" style="width: 250px;">
          <i class="fa fa-graduation-cap"></i> Curriculum Vitae
        </a>
        <a target="_blank" href="{{ site.cover-letter-link }}" class="btn btn-lg btn-outline-content" style="width: 250px;">
          <i class="fa fa-envelope-open"></i> Cover Letter
        </a>
      </div>
    </div>
  </div>
</section>
