<!-- jQuery Version 1.11.0 -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ '/assets/js/bootstrap.min.js' }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ '/assets/js/jquery.easing.min.js' }}"></script>
<script src="{{ '/assets/js/classie.js' }}"></script>
<script src="{{ '/assets/js/cbpAnimatedHeader.js' }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ '/assets/js/freelancer.js' }}"></script>

<!-- Languaje List JavaScript -->
<script src="{{ '/assets/js/languages.js' }}"></script>

<!-- Google Analytics -->
<script src="{{ '/assets/js/analytics.js' }}"></script>
