 <!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>

            </div>

            <div class="row">

                {% for skill in site.programing-skills %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">

                    <div class="inner-content text-center">

                        <div class="c100 p{{skill.percent}} grey center">
                            <span>{{skill.percent}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>

                        <h3>{{skill.name}}</h3>

                    </div>


                </div>
                {% endfor %}

            </div>
        </div>
    </section>
