<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Sergio García Prado",
  "email": "mailto:sergio@garciparedes.me",
  "image": "https://garciparedes.me/assets/img/profile.jpg",
  "jobTitle": "Data { Engineer, Scientist }",
  "birthDate": "1994.08.11",
  "gender": "male",
  "nationality": "Spanish",
  "birthPlace" : {
    "@type": "Place",
    "address": {
  	  "@type": "PostalAddress",
		    "addressLocality": "Paredes de Nava",
		    "addressRegion": "Palencia",
        "addressCountry": "Spain"
	  }
  },
  "url": "http://garciparedes.me",
  "sameAs": [
    "http://www.facebook.com/garciparedes",
    "http://instagram.com/garciparedes",
    "http://www.linkedin.com/in/garciparedes",
    "https://github.com/garciparedes",
    "https://www.hackerrank.com/garciparedes",
    "https://scholar.google.com/citations?user=X3Mb7BAAAAAJ",
    "https://stackoverflow.com/users/3921457",
    "http://plus.google.com/+SergioGarcía-garciparedes"
  ]
}
</script>
