.about-section {
  padding-bottom: 5%;
}

.about-description {
  text-align: justify;
}


.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #{{ site.color.primary }};
    background-color: #ffffff;
}

.btn-outline-content {
    margin-top: 15px;
    font-size: 20px;
    background: 0 0;
    transition: all .3s ease-in-out;
    border: solid 2px #{{ site.color.secondary }};
    color: #{{ site.color.secondary }};
}

.btn-outline-content:hover,
.btn-outline-content:focus,
.btn-outline-content:active,
.btn-outline-content.active {
    color: #fff;
    border: solid 2px #{{ site.color.secondary-dark }};
    background-color: #{{ site.color.secondary-dark }};
}
