
header {
    text-align: center;
    color: #fff;
    min-height: 100vh;
    background: #{{ site.color.primary }};
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 3em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}
