section {
    padding: 30px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #{{ site.color.primary }};
}

.panel-body {
    color: #{{ site.color.secondary }};
}
