section {
    padding-top: 66px;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #{{ site.color.primary }};
}

.panel-body {
    color: #{{ site.color.secondary }};
}
