<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Website</title>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Sergio García Prado",
      "email": "mailto:sergio@garciparedes.me",
      "image": "https://garciparedes.me/assets/img/profile.jpg",
      "jobTitle": "Software Engineering | Statistics",
      "alumniOf": "Valladolid University",
      "birthDate": "1994.08.11",
      "gender": "male",
      "nationality": "Spanish",
      "url": "http://garciparedes.me",
      "sameAs": [
        "http://www.linkedin.com/in/garciparedes",
        "https://github.com/garciparedes",
        "https://twitter.com/garciparedes",
        "https://scholar.google.com/citations?user=X3Mb7BAAAAAJ",
        "https://stackoverflow.com/users/3921457"
      ]
    }
    </script>
    
    <meta name="viewport" content="width=device-width">
    
    <meta name="description" content="{{ site.summary }}">
    
    {% if site.meta_author %}
    <meta name="author" content="{{ site.meta_author }}">
    {% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <!-- Google verification -->
    {% if site.google_verify %}
    <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <!-- Bing Verification -->
    {% if site.bing_verify %}
    <meta name="msvalidate.01" content="{{ site.bing_verify }}">
    {% endif %}

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    >
    <link 
      rel="stylesheet" 
      href="{{ '/style.css' }}"
    >

    <!-- Custom Fonts -->
    <link 
      rel="stylesheet" 
      href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"
    >
    <link 
      rel="stylesheet" 
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    >
    <link 
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css?family=Roboto"
    >

  </head>

  <body id="page-top" class="index">
    <header id="headers" class="outer-center-container">
      <div class="container inner-center-container">
        <div class="img-profile img-responsive img-centered rounded-circle">
        </div>
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light">
          <span class="skills">{{ site.skills }}</span>
          <ul class="list-inline">
            {% for network in site.social %}
            <li class="list-inline-item">
              <a target="_blank" href="{{ network.url }}" class="btn-social btn-outline">
                <i class="{{ network.icon }}" title="{{ network.title }}"></i>
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <p class="text-justify">
            {{ site.description }}
            </p>
          </div>
          <div class="col-lg-12 text-center">
            <a 
              target="_blank" 
              href="mailto:{{ site.email }}" 
              class="btn btn-lg btn-outline"
              style="width: 250px;"
            >
              <i class="fa fa-envelope"></i> Contact me
            </a>
            {% if site.curriculum_vitae_link %}
            <a
              target="_blank" 
              href="{{ site.curriculum_vitae_link }}"
              class="btn btn-lg btn-outline" 
              style="width: 250px;"
            >
              <i class="fa fa-graduation-cap"></i> Curriculum Vitae
            </a>
            {% endif %}
            {% if site.cover_letter_link %}
            <a 
              target="_blank" 
              href="{{ site.cover_letter_link }}" 
              class="btn btn-lg btn-outline" 
              style="width: 250px;"
            >
              <i class="fa fa-envelope-open"></i> Cover Letter
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32504770-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-32504770-2');
    </script>
  </body>
</html>
