<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">

      <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="/">Home</a>

          {% for page_name in site.pages_list %}
              &nbsp;&nbsp;&nbsp;<small><a href="/{{ page_name | downcase }}">{{ page_name }}</a></small>
          {% endfor %}

        </h3>
      </div>

      {{ content }}

    </div>

    <script type='text/javascript'>
    //<![CDATA[ 

    $(function() {
         
    // get initial top offset of navigation 
    var floating_navigation_offset_top = $('#masthead-title').offset().top;
             
    // define the floating navigation function
    var floating_navigation = function(){
                // current vertical position from the top
        var scroll_top = $(window).scrollTop(); 
         
        // if scrolled more than the navigation, change its 
                // position to fixed to float to top, otherwise change 
                // it back to relative
        if (scroll_top > floating_navigation_offset_top) { 
            $('#masthead-title').css({ 'position': 'fixed', 'top':0});
        } else {
            $('#masthead-title').css({ 'position': 'relative' }); 
        }   
    };
     
    // run function on load
    floating_navigation();
     
    // run function every time you scroll
    $(window).scroll(function() {
         floating_navigation();
    });
 
});


  </body>
</html>
